<h1><%= @food.food %>  <span><small>Calories: <%= @food.calories %></small></span></h1>
<%= @food.user_id %>
<p>
  <%= link_to "Edit", edit_food_path(@food) %>
</p>
<p>
  <%= link_to "Delete", food_path(@food),
                        :data => {:confirm => "Are you sure?",
                                  :method => "delete"} %>
</p>
<%= link_to "eat this", food_path(@food) %>

<p>
  <%= link_to "Return to food", foods_path %>
</p>
